<div>
<mat-toolbar  class="navbar">
  <div><strong>HOUSE KEEPER</strong> </div>
 
  <div>
  <span>
    <a routerLink="" style="text-decoration: none;"> 
    <button style="border: none; color:#DE5D83; padding-left: 5px">Home</button></a></span>
  <span> <a routerLink="aboutUs" style="text-decoration: none;"> 
    <button style="border: none; color:#DE5D83; padding-left: 5px">AboutUs</button></a></span>
  <!-- <span> View Our Services</span>
  <span>Become a Service Provider</span> -->
  <span *ngIf="!isLoggedIn">
    <!-- {{isLoggedIn}} -->
    <a routerLink="login" style="text-decoration: none;"> 
      <button style="border: none; color:#DE5D83; border-radius: 10px; padding-left: 5px">Login</button></a>
  </span>
  <span *ngIf="!isLoggedIn">
    <a  routerLink="register" style="text-decoration: none;">
      <button style="border: none; color:#DE5D83; border-radius: 10px; padding-left: 5px">Register</button></a> 
  </span>
  <span *ngIf="isLoggedIn">
      <button style="border: none; color:#DE5D83; border-radius: 10px; padding-left: 5px" (click)="logOut()">Log out</button> 
  </span>
  <span class="material-icons">
    shopping_cart
    </span>
  </div>
</mat-toolbar>
</div>
<router-outlet></router-outlet>

<div app-footer></div>

<script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>