<div>
<mat-toolbar  class="navbar">
  <div><strong>HOUSE KEEPER</strong> </div>
 
  <div>
  <span>Home</span>
  <span>About Us</span>
  <span> View Our Services</span>
  <span>Become a Service Provider</span>
  <span >
    <a routerLink="login" style="text-decoration: none;"> 
      <button style="border-style: solid; border-color:orangered; border-radius: 10px; padding-left: 5px">Login</button></a>
  </span>
  <span class="material-icons">
    shopping_cart
    </span>
  </div>
</mat-toolbar>
</div>
<router-outlet></router-outlet>


<script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>