.flex1{
    justify-content: space-around;
    padding:20px
}

.container1 {
    display:flex;
    padding: 30px;
    
}
.container {
    display:flex;
    background-color:#DE5D83;
    padding: 50px;
    color:azure;
    
}
