

 <h1 style="text-align:'center'; margin-top:'20px' ; color:#DE5D83">Our Team</h1>
 <div class="aboutUsRow">
   <div class="column">
     <div class="card">
       <img     src="https://avatars.githubusercontent.com/u/42808133?v=4" alt="Nitheesha" style="width:'100%'">
       <div class="container">
         <h2>Nitheesha Reddy</h2>
         <p class="title">go lang developer</p>
         <p>Nitheesha</p>
         <p><button class="button" style="background-color: whitesmoke;color:#DE5D83">Contact</button></p>
       </div>
     </div>
   </div>
 
   <div class="column">
     <div class="card">
       <img src="https://avatars.githubusercontent.com/u/29086066?v=4" alt="Rachana" style="width:'100%'">
       <div class="container">
         <h2>Rachana Reddy Marri</h2>
         <p class="title">Angular developer</p>
         <p>rmarri@ufl.edu</p>
         <p><button class="button" style="background-color: whitesmoke;color:#DE5D83">Contact</button></p>
       </div>
     </div>
   </div>
 
   <div class="column">
     <div class="card">
       <img src="https://avatars.githubusercontent.com/u/24830498?v=4" alt="Mithali" style="width:'100%'">
       <div class="container">
         <h2>Mithali Sheth</h2>
         <p class="title">Go lang developer</p>
         <p>mitali3112@gmail.com</p>
         <p><button class="button" style="background-color: whitesmoke;color:#DE5D83">Contact</button></p>
       </div>
     </div>
   </div>
   <div class="column">
     <div class="card">
       <img src="https://avatars.githubusercontent.com/u/97759503?v=4 " alt="Yasaswini" style="width:'100%'">
       <div class="container">
         <h2>Yasaswini Valisetty</h2>
         <p class="title">Angualar developer</p>
         <p>Yasaswini</p>
         <p><button class="button" style="background-color: whitesmoke;color:#DE5D83">Contact</button></p>
       </div>
     </div>
   </div>
   
 </div>
 
  
